---
title: Andrew Wooldridge Dot XYZ
images:
    - parrot.gif
    - iconfinder_icon-image_2867912.png
uikitcss: /uikit/css/uikit.css
uikitjs: /uikit/js/uikit.js

---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{uikitcss}}" />
    {% comment %} <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> {% endcomment %}
    {% comment %} <script src="main.js"></script> {% endcomment %}
</head>
<body>
    <h1>{{title}}</h1>
<!-- <img src="img/parrot.gif" alt="parrot">     -->
<ul>
{% for filename in images %}
<li><a href="img/{{filename}}">{{filename}}</a></li>
{% endfor %}
</ul>
</body>
</html>