---
title: Andrew Wooldridge Dot XYZ
images:
    - parrot.gif
    - iconfinder_icon-image_2867912.png
uikitcss: /uikit/css/uikit.css
uikitjs: /uikit/js/uikit.min.js
uikitjsicons: /uikit/js/uikit-icons.min.js

---
<!DOCTYPE html>
<html>
<div id="triptych" class="uk-container">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{uikitcss}}" />
    <script src="{{uikitjs}}"></script>
    <script src="{{uikitjsicons}}"></script>
    {% comment %} <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> {% endcomment %}
    {% comment %} <script src="main.js"></script> {% endcomment %}
</head>
<body>
<!-- <img src="img/parrot.gif" alt="parrot">     -->
{% comment %} <ul>
{% for filename in images %}
<li><a href="img/{{filename}}">{{filename}}</a></li>
{% endfor %}
</ul> {% endcomment %}
<!-- header -->
<header>
    <h1>{{title}}</h1>
</header>
<!-- header -->
<!-- main -->
<h2>Cool Links</h2>
<ul>
<li><a href="http://www.twitter.com/triptych">@triptych</a></li>
</ul>
<!-- main -->
<!-- footer -->
 <footer class="uk-section uk-section-default uk-section-small">
            <div class="uk-container">
                <p class="uk-text-small uk-text-center">
                    Copyright 2019 - Andrew Wooldridge </p>
            </div>
        </footer>
<!-- footer -->
</div>
</body>
</html>